In [1]:
import pandas as pd
df_logFM = pd.read_csv("../task1/data.csv",index_col=0)
df_CI = pd.read_csv("./data.csv",index_col=0)

In [2]:
df_logFM = df_logFM.drop(['PubChem CID','SMILES','Predicted logFM'],axis=1)
df_CI = df_CI.drop(['Compound','No.','SMILES','Test','CI-Cal.'],axis=1)

In [3]:
df_logFM.head()

           Name  Observed logFM
0  Oxychlordane           -1.02
1           DDE           -0.98
2  Mifepristone           -0.96
3    Atazanavir           -0.89
4     Nonachlor           -0.84

In [4]:
df_CI.head()

         Name  CI-Obs.
0    Abacavir     0.47
1    Acipimox     0.25
2   Acyclovir     0.17
3     Alanine     0.30
4  Alfentanil     0.75

In [5]:
df = pd.merge(df_logFM, df_CI, on='Name', how='inner')
df= df.rename(columns={"Observed logFM": "logFM", "CI-Obs.": "CI"})

In [6]:
df

             Name  logFM    CI
0             DDE  -0.98  0.61
1       Lopinavir  -0.62  0.73
2   Buprenorphine  -0.46  0.29
3      Didanosine  -0.42  0.31
4       Lidocaine  -0.26  0.91
5     Ticarcillin  -0.04  0.04
6      Lamivudine  -0.03  0.23
7    Indomethacin  -0.01  0.72
8        Abacavir   0.01  0.47
9       Stavudine   0.12  0.24
10      Indinavir  -1.10  0.39
11    Bupivacaine  -0.52  0.73
12   Cefoperazone  -0.46  0.04
13       Naloxone  -0.30  0.64

In [7]:
df.corr()

         logFM       CI
logFM  1.00000 -0.19177
CI    -0.19177  1.00000

In [8]:
df.to_csv("./output/logFM_CI_corr.csv",index=False)